source s_postgresql_json {
     wildcard-file(
        base-dir("/var/log/postgresql/") filename-pattern("postgresql*.json")
        program_override("postgresql_json") flags(no-parse));
};

log {
    source(s_postgresql_json); destination(d_{{ remote_logging_conf }});
};
